.Checkout {
  padding: 1rem 2rem 1rem 2rem;
  background-color: var(--swhite);
  color: var(--sblack);
  border-radius: 10rem;
}

.Checkout:hover {
  color: var(--syellow);
  background-color: var(--sblack);
}

.wrapperProducts {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.wrapperProduct {
  padding: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
}

.wrapperProduct:hover .wrapperProductInfoText {
  transition: 0.7s ease;
  opacity: 1;
}

.wrapperProductInfo {
  background-color: var(--sblue);
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;

  opacity: 1;
  transition: 0.7s ease;
  margin-top: 3rem;
  // flex-grow: 1;
  z-index: 0;
}

.wrapperProduct:hover .wrapperProductInfo {
  margin-top: 0;
}

.wrapperProductInfoText {
  background-color: var(--sblue);
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 500px;
  opacity: 0;
  transition: 0.7s ease;
  height: 100%;

  margin: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
  flex-grow: 1;
}

.buttonLearnMore {
  background-color: white;
  border: none;
  color: var(--sblack);

  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  width: 10rem;

  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: BLMelodyMono, monospace;
  font-weight: 500;
  align-self: center;
}

.brand {
  font-weight: 300;
}

.model {
  font-weight: 700;
  color: var(--syellow);
}

.imageSize {
  width: 23rem;
  height: 23rem;
  position: relative;
  align-items: center;
  align-self: center;
  overflow: hidden;
  background-color: white;
  border-radius: 2rem;
  padding: 20px;

  transition: transform 0.5s ease;
}

.wrapperProduct:hover .imageSize {
  transform: scale(1.1);
}

.imageContainer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 27rem;
  height: 27rem;
  overflow: hidden; /* Prevents the image from overflowing and pushing content */
  background-color: white;
  border-radius: 2rem;
}
