.headerStyle {
  top: 0;
  left: 0;
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  gap: 2rem;
  list-style: none; /* Remove default bullet points */
  margin-bottom: 2rem;

  padding: 0.5rem 1.5rem 1rem 2.5rem;
  color: var(--syellow);

  justify-content: center; // Centers horizontally
  align-items: center; // Centers vertically
  position: fixed;
  z-index: 9;
  width: 100vw;
  // box-shadow:
  //   0 5px 20px var(--sblue),
  //   0 10px 80px var(--sblue),
  //   0 10px 40px var(--sblue);
}

.headerStyle.scrolled {
  background-color: var(--syellow); /* Change this to the desired color */
}
