.Wrapper {
  max-width: 1200px;
}
.AddToCart {
  background-color: white; /* Green */
  border: none;
  color: rgb(0, 0, 0);

  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  width: 13rem;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: 1rem;
  font-family: BLMelodyMono, monospace;
  font-weight: 600;
  align-self: center;
  font-size: 1.2rem;
}

.AddToCart:hover {
  font-weight: 700;
  font-size: 1.2rem;

  transition: 1s;
}

.middle {
  display: flex;
  flex-direction: column;
  align-self: center;
}
