.h1 {
  text-align: center;
  position: relative;
  z-index: 2;
  font-family: BLMelody, sans-serif;
  font-weight: 700;
  font-size: 7rem;
  width: fit-content; /* Shrinks the width to the content */
  margin: 0 auto;
  /* Transition on initial state */
  transition: 0.3s;
}

.h1:hover {
  color: var(--sblack);

  /* Reverse the transition timing when hovered */
}
