.h1 {
  text-align: center;
  position: relative;
  z-index: 2;
  font-family: BLMelody, sans-serif;
  font-weight: 700;
  font-size: 8rem;
  width: fit-content; /* Shrinks the width to the content */
  margin: 0 auto;
  /* Transition on initial state */
  transition: 0.3s;
}

.h1:hover {
  color: var(--sblack);

  /* Reverse the transition timing when hovered */
}

.button {
  padding: 1.5rem;
  background-color: black;
  width: 22rem;
  align-self: center;
  justify-content: center;
  text-align: center;
  justify-self: center;
  margin: auto;
  border-radius: 10rem;
  transition: 0.5s;
}

.button:hover {
  background-color: var(--swhite);
  color: var(--sblack);
}
