.buttonAddBackground {
  background-color: white;

  color: var(--sblack);

  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 10rem;

  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: BLMelodyMono, monospace;
  font-weight: 500;
  align-self: center;
}
